.body {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: #FFFFFF;
}

@media screen and (max-width: 1800px) {
    .container {
        transform: scale(0.9); /* 확대/축소 비율 */
    }
}

/* Left panel */
.leftPanel {
    position: relative;
    width: 5.33vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #F2F2F2;
}

.profile img, .ranking img, .setting img, .vector img {
    width: 100%;
    height: 100%;
}

/* Profile icon */
.profile {
    position: absolute;
    width: 24.57px;
    height: 28.41px;
    left: 50%;
    transform: translateX(-50%);
    top: 3.85vh;
    cursor: pointer;
}

/* Group 25 */
.vector {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6vh;
}

/* Settings icon */
.setting {
    position: absolute;
    width: 20.18px;
    height: 20.03px;
    left: 50%;
    transform: translateX(-50%);
    top: 78vh;
}

/* Ranking */
.ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 70vh;
}

/* Rank icon */
.rank {
    width: 20px;
    height: 20px;
}

/* Right panel */
.rightPanel {
    position: relative;
    width: 25.7vw;
    height: 100vh;
    right: 0;
    top: 0;
    background: #F2F2F2;
}

/* Side panel pick */
.sidePanelPick {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5vw;
    position: absolute;
    width: 17.4vw;
    height: 3.67vh;
    left: 50%;
    transform: translateX(-50%);
    top: 5.73vh;
}

/* My tasks button */
.myTasksButton, .myRecordButton {
    width: 7.94vw;
    height: 3.67vh;
    flex: none;
    flex-grow: 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.79vh;
    line-height: 1.79vh;
    text-align: center;
}

.myTasksButton {
    background: #E66C6C;
    color: #FFFFFF;
}

.myRecordButton {
    background: #FFFFFF;
    color: #807A7A;
    order: 1;
}


/* Today's focus */

.dateText {
    width: 204px;
    height: 18px;
    margin: 13.5vh auto 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.container {
    position: relative;
    max-width: 49vh;
    margin: 0 auto;
}

/* Today's focus */

.focus-box {
    width: 100%;
    min-height: 82px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 2rem;
}

/* Record */

.record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.record-heading {

    font-size: 1rem;
    color: #D4B5B5;
}

.record-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.record-time .large-number {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 0.3em;
    text-decoration: none;
}

.record-time {
    font-family: 'Outfit';
    font-size: 1rem;
    color: #E66C6C;
}

.image-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
}

.image {
    width: 27px;
    height: 27px;
    background: url('../img/image 15.png');
    max-width: 100%;
}

.times-two {
    font-family: 'Outfit';
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
}

.center-box {
    display: flex;
    position: relative;
    height: 100vh;
    width: 60vw;
    right: 0;
    top: 0;
    justify-content: center;
}

.mode {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 700px;
    height: 45px;
    padding-top: 45px;

}

/* Pomodoro */
.pomodoro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 10vw;
    height: 6vh;
    background: #E66C6C;
    border: 0.3vh solid #E66C6C;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 1.4vw;
    color: #FFFFFF;
}

/* Short break */
.short-break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 10vw;
    height: 6vh;
    border: 0.3vh solid #F79393;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 1.4vw;
    color: #F79393;
}

/* Long break */
.long-break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:1rem;
    width: 10vw;
    height: 6vh;
    border: 0.3vh solid #F79393;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 1.4vw;
    color: #F79393;
}


/* Timer */
.timer-container {
    position: relative;
    width: 33vw;
    height: 36vh;
    left: 50%;
    top: 12vh;
    transform: translateX(-50%);
}

.timer-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer-remaining {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans';
    color: #5C3737;
    font-weight: 600;
    font-size: 2.7vw;
}

.colon {
    color: #5C3737;
    padding: 0 5px;
    text-decoration: none;
}

.leaf {
    position: absolute;
    top: -5%;
    left: 52%;
    width: 5vw;
    height: 5vw;
    background-image: url('../img/leaf.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}

.timer-control-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 1vw;
    position: absolute;
    width: 40vw;
    height: 7vh;
    left: calc(17%);
    top: calc(39vh + 28vh);

}

.start-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    border-radius: 18px;
    gap: 7.5px;
    background: #E66C6C;

    width: 10vw;
    height: 5.5vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 4vh;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    cursor: pointer;
    overflow : hidden;
}

.pause-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    border-radius: 18px;
    gap: 7.5px;
    background: #E66C6C;

    width: 10vw;
    height: 5.5vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 4vh;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    cursor: pointer;
    overflow : hidden;
}

.restart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    border-radius: 18px;
    gap: 7.5px;
    background: #E66C6C;

    width: 10vw;
    height: 5.5vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 4vh;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    cursor: pointer;
    overflow : hidden;
}

.reset-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    border-radius: 18px;
    gap: 7.5px;
    background: #FFFFFF;

    border: 0.3vh solid #E66C6C;
    width: 10vw;
    height: 5.5vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8vw;
    line-height: 4vh;
    letter-spacing: 0.1rem;
    color: #E66C6C;
    cursor: pointer;
    overflow : hidden;
}

/* Current Task */
.currentTaskTxt {
    position: absolute;
    width: 15vw;
    height: 5vh;
    left: 5vw;
    top: calc(83vh);

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 24px;

    color: #E66C6C;
}

.currentTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 55vw;
    height: 40px;
    left: calc(4%);
    top: calc(89vh);
}

.currentCheck-image {
    width: 1.8vw;
    height: 1.8vw;
    background: #D4B5B5;
    background-image: url('../img/check.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.taskContent {
    width: 35vw;
    height: 30px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 30px;
    color: #807A7A;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.taskNumber {
    width: 5vw;
    height: 35px;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 30px;

    color: #807A7A;

    flex: none;
    order: 2;
    flex-grow: 0;
}

.taskImg {
    width: 1.8vw;
    height: 2.5vh;
    background-image: url('../img/task.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    order: 3;
    flex-grow: 0;
}

/* Sound controls */
.soundBar {
    position: relative; /* This makes it the reference point for absolute positioned child elements */
    width: 2vw;
    height: 350px;
    top : 5.5vh;
}

.music {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
    top: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
}

.musicBtn {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('../img/music.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.alarm {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%;
    top: 28%;
}

.alarmBtn {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('../img/alarm.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Volume container */
.volumeContainer {
    position: absolute;
    width: 100%;
    height: 26vh;
    left: 55%;
    top: 32vh;
    bottom: 0;
    transform: translate(-50%, -50%);
}

/* Rectangle 4253 */
.volumeBar {
    position: absolute;
    width: 10px;
    height: 17vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #F2F2F2;
    border-radius: 50px;
}

/* Rectangle 4254 */
.volumeActive {
    position: absolute;
    width: 10px;
    height: 66px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #E66C6C;
    border-radius: 50px;
}

/* Ellipse 139 */
.volumeThumb {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 50%;
    top: calc(100% - 80px);
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 3px solid #E66C6C;
    border-radius: 50%;
    cursor: pointer;
}

.volumeImg {
    position: absolute;
    width: 1.7vw;
    height: 1.7vh;
    top: 38vh;
    bottom: 0;
    left: 15%;
}

.volumeBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('../img/Volume.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
