.body {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    background: #FFFFFF;
}

@media screen and (max-width: 1800px) {
    .container {
        transform: scale(0.9); /* 확대/축소 비율 */
    }
}

/* Left panel */
.leftPanel {
    position: relative;
    width: 5.33vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #F2F2F2;
}

.profile img, .ranking img, .setting img, .logout img {
    width: 100%;
    height: 100%;
}

/* Profile icon */
.profile {
    position: absolute;
    width: 24.57px;
    height: 28.41px;
    left: 50%;
    transform: translateX(-50%);
    top: 3.85vh;
    cursor: pointer;
}

/* Group 25 */
.logout {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6vh;
}

/* Settings icon */
.setting {
    position: absolute;
    width: 20.18px;
    height: 20.03px;
    left: 50%;
    transform: translateX(-50%);
    top: 78vh;
    cursor: pointer;
}

/* Ranking */
.ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 80vh;
}

/* Rank icon */
.rank {
    width: 20px;
    height: 20px;
}

/* Sound controls */
.soundBar {
    position: relative; /* This makes it the reference point for absolute positioned child elements */
    width: 2vw;
    height: 350px;
    top : 5.5vh;
}

.music {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
    top: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
}

.musicBtn {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('../img/music.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.alarm {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%;
    top: 28%;
}

.alarmBtn {
    position: absolute;
    left: 50%;
    top: 1%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('../img/alarm.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Volume container */
.volumeContainer {
    position: absolute;
    width: 100%;
    height: 26vh;
    left: 55%;
    top: 32vh;
    bottom: 0;
    transform: translate(-50%, -50%);
}

/* Rectangle 4253 */
.volumeBar {
    position: absolute;
    width: 10px;
    height: 17vh;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #F2F2F2;
    border-radius: 50px;
}

/* Rectangle 4254 */
.volumeActive {
    position: absolute;
    width: 10px;
    height: 66px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #E66C6C;
    border-radius: 50px;
}

/* Ellipse 139 */
.volumeThumb {
    position: absolute;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    left: 50%;
    top: calc(100% - 80px);
    transform: translateX(-50%);
    background: #FFFFFF;
    border: 3px solid #E66C6C;
    border-radius: 50%;
    cursor: pointer;
}

.volumeImg {
    position: absolute;
    width: 1.7vw;
    height: 1.7vh;
    top: 38vh;
    bottom: 0;
    left: 15%;
}

.volumeBtn {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    background-image: url('../img/Volume.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}
