body.overflow-hidden {
    overflow: hidden;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-inner {
    width: 420px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
    position: relative;
    z-index: 2000;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    line-height: 25px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: 'Outfit';
    font-size: 16px;
    color: black;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    background-image: url('../img/close.svg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-family: 'Outfit';
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 50%;
    height: 3.2vh;
    padding: 10px 40px 10px 40px;
    margin-bottom: 20px;
    border: 1px solid #D4B5B5;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: 10px center;

}

input[type="text"] {
    background-image: url('../img/Profile.svg');
    background-size: 3%;
}

input[type="email"] {
    background-image: url('../img/Mail.svg');
    background-size: 4%;
}

input[type="password"] {
    background-image: url('../img/Password.svg');
    background-size: 4%;
}

.sign-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp-button {
    width: 50%;
    height: 6vh;
    background: #E66C6C;
    box-shadow: 0px 10px 35px rgba(169, 142, 142, 0.4);
    border-radius: 15px;

    padding: 15px;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: 'Outfit';
    align-items: center;

    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.google-button {
    width: 65%;
    height: 7vh;
    background: #FFFFFF;
    box-shadow: 15px 0px 30px rgba(237, 215, 215, 0.4);
    border-radius: 12px;
    padding: 15px;
    border: none;

    font-family: Outfit;
    color: #807A7A;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;

    cursor: pointer;
    margin-bottom: 20px;
    align-items: center;
}

.arrow-icon {
    height: 1.5vw;
    width: 1.5vw;
    margin-left: auto;
    padding-left: 0;
    vertical-align: middle;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.google-icon {
    height: 1.5vw;
    width: 1.5vw;
    margin-right: 2vw;
    margin-bottom: 1vh;
    vertical-align: middle;
}

.or {
    font-family: Outfit;
    font-size: 14px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;
    color: #807A7A;
}

.askAccount {
    font-family: Outfit;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    color : #807A7A;
    margin-top: 1vh;
}

.askAccount > span {
    color : #E66C6C;
    cursor: pointer;
}

div > button:not(.close-btn) {
    margin-top: 2%;
    margin-bottom: 2%;
}

div > button:nth-child(2) {
    margin-right: 0;
}

