.body {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background: #FFFFFF;
}

/* Left panel */
.leftPanel {
    position: relative;
    width: 5.33vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: #F2F2F2;
}

.profile img, .ranking img, .setting img, .vector img {
    width: 100%;
    height: 100%;
}

/* Profile icon */
.profile {
    position: absolute;
    width: 24.57px;
    height: 28.41px;
    left: 50%;
    transform: translateX(-50%);
    top: 3.85vh;
}

/* Group 25 */
.vector {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 6vh;
}

/* Settings icon */
.setting {
    position: absolute;
    width: 20.18px;
    height: 20.03px;
    left: 50%;
    transform: translateX(-50%);
    top: 78vh;
}

/* Ranking */
.ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    transform: translateX(-50%);
    top: 70vh;
}

/* Rank icon */
.rank {
    width: 20px;
    height: 20px;
}

/* Right panel */
.rightPanel {
    position: relative;
    width: 25.7vw;
    height: 100vh;
    right: 0;
    top: 0;
    background: #F2F2F2;
}

/* Side panel pick */
.sidePanelPick {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 1.5vw;
    position: absolute;
    width: 17.4vw;
    height: 3.67vh;
    left: 50%;
    transform: translateX(-50%);
    top: 5.73vh;
}

/* My tasks button */
.myTasksButton, .myRecordButton {
    width: 7.94vw;
    height: 3.67vh;
    flex: none;
    flex-grow: 0;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.79vh;
    line-height: 1.79vh;
    text-align: center;
}

.myTasksButton {
    background: #E66C6C;
    color: #FFFFFF;
}

.myRecordButton {
    background: #FFFFFF;
    color: #807A7A;
    order: 1;
}


/* Today's focus */

.dateText {
    width: 204px;
    height: 18px;
    margin: 13.5vh auto 0;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-align: center;
}

.container {
    position: relative;
    max-width: 49vh;
    margin: 0 auto;
}

/* Today's focus */

.focus-box {
    width: 100%;
    min-height: 82px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 2rem;
}

/* Record */

.record {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.record-heading {
    font-size: 1rem;
    color: #D4B5B5;
}

.record-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.record-time .large-number {
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 0.3em;
}

.record-time {
    font-family: 'Outfit';
    font-size: 1rem;
    color: #E66C6C;
}

.image-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
}

.image {
    width: 27px;
    height: 27px;
    background: url('./img/image 15.png');
    max-width: 100%;
}

.times-two {
    font-family: 'Outfit';
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
    white-space: nowrap;
}

.center-box {
    display: flex;
}

/* Timer frame */
.timer-frame {
    position: relative;
    width: 50vw;
    height: 100%;
}

/* Mode */
.mode {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2vw;
    width: 50vw;
    height: 7vh;
    padding-top: 7vh;
    padding-left: 6vw;
}

/* Pomodoro */
.pomodoro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 11vw;
    height: 6vh;
    background: #E66C6C;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 2.5vh;
    color: #FFFFFF;
}

/* Short break */
.short-break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 11vw;
    height: 6vh;
    border: 0.3vh solid #F79393;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 2.5vh;
    color: #F79393;
}

/* Long break */
.long-break {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    width: 11vw;
    height: 6vh;
    border: 0.3vh solid #F79393;
    border-radius: 37.5px;

    font-family: 'Outfit';
    font-size: 2.5vh;
    color: #F79393;
}


/* Timer */
.timer-container {
    position: relative;
    width: 236.25px;
    height: 267.05px;
    left: 50%;
    top: 12vh;
    transform: translateX(-50%);
}

/* countdown timer */
.countdown-timer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: url('./img/Timer.png') no-repeat center center;
    background-size: contain;
}

.timer-control-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 1vw;
    position: absolute;
    width: 20vw;
    height: 7vh;
    left: calc(50% - 10vw + 0.1vw);
    top: 70vh;
}

.pause-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1vh 1vw;
    background: #E66C6C;
    border-radius: 18px;

    width: 8vw;
    height: 4vh;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 4vh;
    color: #FFFFFF;
}





/* Sound controls */
.soundBar {
    position: relative; /* This makes it the reference point for absolute positioned child elements */
    width: 2vw;
    height: 38vh;
    top : 5.5vh;
}

.music {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
    top: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
}

.musicBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('./img/music.svg');
    background-repeat: no-repeat;
    background-size: 11.7px 15.05px;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.alarm {
    position: absolute;
    width: 100%;
    height: 4vh;
    left: 10%; /* You can adjust this value based on where you want it inside the .soundBar */
    top: 30%; /* You can adjust this value based on where you want it inside the .soundBar */
}

.alarmBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    background-image: url('./img/alarm.svg');
    background-repeat: no-repeat;
    background-size: 13.29px 13px;
    background-position: center;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}