.body {
    position: relative;
    width: 1728px;
    height: 1117px;

    background: #FFFFFF;
}

/* Left panel */
.leftPanel {
    position: absolute;
    width: 92px;
    height: 1117px;
    left: 0px;
    top: 0px;

    background: #F2F2F2;
}

/* Profile icon */
.profile {
    position: absolute;
    width: 34.57px;
    height: 38.41px;
    left: 27px;
    top: 43px;


}

/* Group 25 */
.vector {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 26px;
    top: 1050px;
}

/* Settings icon */
.setting {
    position: absolute;
    width: 30.18px;
    height: 30.03px;
    left: 29px;
    top: 910px;


}


/* Ranking */
.ranking {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;

    position: absolute;
    width: 30px;
    height: 30px;
    left: 29px;
    top: 831px;
}

/* Rank icon */
.rank {
    width: 30px;
    height: 30px;

}

